.filter-container{
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.filter-subtitle{
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 7px;
}
.filter-category-label{
    padding: 5px 0px
}

.filter-dropdown-container {

}

.filters-dropdown {
    background: #e2e2e2;
    width: 250px;
}

/* weird display behavior from 3rd party component. */
span.bp3-icon.bp3-icon-double-caret-vertical{
    display: none;
}

/* override the select css from blueprint.js select */
select {
    background: #ececec;
    width: 250px;
}