.card-container{
    box-shadow: 0px 0px 10px #cccccc;
    border-radius: 2px;
    display: flex;
    flex-flow: column;
    padding:20px;
    height: 300px;
}
.card-image{
    width: 100%;
    max-width: 150px;
    height: 100%;
    max-height: 150px;
    align-self: center;
}
.card-title{
    padding: 15px 0;
    font-weight: 700;
}
.card-description{
    font-size: 14px;
}
.card-link{
    padding: 10px 0px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}